@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

:root {
  --accent: #C7E07A;   --accentHover: #B4CC6E;   --background: #ffffff;   --foreground: #171717; }

@font-face {
  font-family: 'Nunito';
  src: url('/fonts/Nunito-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito';
  src: url('/fonts/Nunito-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito';
  src: url('/fonts/Nunito-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: 'Nunito', Arial, Helvetica, sans-serif;
  color: var(--foreground);

}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Nunito', sans-serif;
  font-weight: 700; }

p, span, a, li {
  font-family: 'Nunito', sans-serif;
}

html, body, #__next {
  height: 100%;
}
html, body {
  height: 100% !important;
  margin: 0 !important;
  padding: 0!important;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}
