@tailwind base;
@tailwind components;
@tailwind utilities;

/* Переменные для светлой и тёмной темы */
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
/* Акцентные цвета */
:root {
  --accent: #C7E07A; /* Зеленый */
  --accentHover: #B4CC6E; /* Темно-зеленый */
  --background: #ffffff; /* Белый */
  --foreground: #171717; /* Темно-серый */
}

@font-face {
  font-family: 'Nunito';
  src: url('/fonts/Nunito-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito';
  src: url('/fonts/Nunito-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito';
  src: url('/fonts/Nunito-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

/* Указываем Nunito как основной шрифт */
body {
  font-family: 'Nunito', Arial, Helvetica, sans-serif;
  color: var(--foreground);

}

/* Настройки для заголовков */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Nunito', sans-serif;
  font-weight: 700; /* Жирность для заголовков */
}

/* Для текста */
p, span, a, li {
  font-family: 'Nunito', sans-serif;
}

html, body, #__next {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}
